---
import { Icon, type IconName } from "@/components/Elements/Icon"
import type { HTMLAttributes } from "astro/types"
import { Tooltip } from "@/components/Elements/Tooltip"

type Props = HTMLAttributes<"a"> & {
  name: IconName
  label: string
}
const { href, label, ...props } = Astro.props
---

<Tooltip tip={label} client:load>
  <a href={href} {...props}>
    <Icon name={props.name} class="h-6 w-6 text-muted-foreground transition hover:text-foreground" />
  </a>
</Tooltip>
