---
import { Icon, type IconName } from "@/components/Elements/Icon"
import { twMerge } from "tailwind-merge"

type Link = {
  title: string
  icon: IconName
  href: string
}
const links: Link[] = [
  {
    title: "ホーム",
    icon: "tabler:home",
    href: "/",
  },
  {
    title: "お知らせ",
    icon: "tabler:news",
    href: "/categories/news",
  },
  {
    title: "活動記録",
    icon: "tabler:activity",
    href: "/categories/activities",
  },
  {
    title: "作品紹介",
    icon: "tabler:star",
    href: "/categories/works",
  },
  {
    title: "タグ",
    icon: "tabler:tag",
    href: "/tags",
  },
  {
    title: "アーカイブ",
    icon: "tabler:archive",
    href: "/archives",
  },
  {
    title: "RICORAについて",
    icon: "tabler:info-circle",
    href: "/about",
  },
  {
    title: "お問い合わせ",
    icon: "tabler:mail",
    href: "/contact",
  },
  {
    title: "メンバー",
    icon: "tabler:users",
    href: "/members",
  },
  {
    title: "リンク",
    icon: "tabler:link",
    href: "/links",
  },
]

type Props = {
  class?: string
}
const props = Astro.props
---

<div class="flex flex-col overflow-y-auto md:w-full">
  {
    links.map((link) => (
      <a
        href={link.href}
        class={twMerge(
          "flex flex-row gap-4 rounded-md p-2 text-fg-muted transition hover:bg-bg-muted hover:text-fg-default",
          props.class,
        )}
      >
        <Icon name={link.icon} class="h-6 w-6" />
        <span>{link.title}</span>
      </a>
    ))
  }
</div>
