---
import UserCard from "@/components/Elements/UserCard/UserCard.astro"
import { BaseLayout } from "@/layouts/BaseLayout"
import { getCollection } from "astro:content"

const members = await getCollection("members")
---

<BaseLayout title="メンバー - RICORA Programming Team">
  <main class="mx-auto py-16">
    <section class="flex flex-col gap-12">
      <h1 class="mx-auto text-4xl font-bold" data-pagefind-meta="title">メンバー</h1>
      <div class="mx-auto grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {members.sort((a, b) => b.data.joined_year - a.data.joined_year).map((member) => <UserCard {...member} />)}
      </div>
    </section>
  </main>
</BaseLayout>
