---
import "katex/dist/katex.min.css"
import { Callout } from "@/components/Elements/Callout"
import CalloutTitle from "@/components/Elements/Callout/CalloutTitle.astro"
import { Icon, type IconName } from "@/components/Elements/Icon"
import { MainLayout } from "@/layouts/MainLayout"
import { isDev } from "@/lib/runtime"
import { getCollection } from "astro:content"
import { CodeBlock } from "@/components/Elements/CodeBlock"
import type { CollectionEntry } from "astro:content"
import { LinkCard } from "@/components/Elements/LinkCard"
import { OEmbed } from "@/components/Elements/Embed"

export const getStaticPaths = async () => {
  const postEntries = await getCollection("post", ({ data }) => (isDev ? true : !data.draft))
  return postEntries.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      post,
    },
  }))
}

type Props = {
  post: CollectionEntry<"post">
}
const { post } = Astro.props

const { Content } = await post.render()

const date = new Date(post.data.date).toLocaleDateString("ja-JP")
const lastmod = new Date(post.data.lastmod).toLocaleDateString("ja-JP")
const readingTime = Math.round(post.body.length / 600)
---

<MainLayout title="hoge">
  <main class="my-12 flex-1">
    <article class="mx-auto max-w-screen-md">
      <header class="flex flex-col items-center gap-6">
        <Icon
          name={post.data.icon as IconName}
          class="h-44 w-44 rounded-full bg-card p-8 shadow-md dark:bg-transparent"
        />
        <h1 class="text-3xl font-bold">{post.data.title}</h1>
        <div class="flex w-full max-w-lg flex-row flex-wrap justify-between text-center">
          <div class="mx-auto my-2">
            <div class="font-bold">投稿</div>
            <div>
              {date}
            </div>
          </div>
          <div class="mx-auto my-2">
            <div class="font-bold">最終更新</div>
            <div>
              {lastmod}
            </div>
          </div>
          <div class="mx-auto my-2">
            <div class="font-bold">読了時間</div>
            <div>約 {readingTime} 分</div>
          </div>
        </div>
      </header>
      <section class="prose mt-16 max-w-full dark:prose-invert">
        <Content
          components={{
            callout: Callout,
            "callout-title": CalloutTitle,
            pre: CodeBlock,
            "link-card": LinkCard,
            oembed: OEmbed,
          }}
        />
      </section>
    </article>
  </main>
</MainLayout>

<style is:global>
  .katex {
    font-size: 1.1rem !important;
  }
</style>
