@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./radix-color.css";

@import "@park-ui/tailwind-plugin/preset.css";

@layer base {
  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1,
      "palt" 1;
  }

  body * {
    @apply border-border-subtle;
  }

  html,
  body {
    @apply h-max min-h-full transition-colors duration-500;
  }
}

section.footnotes {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: theme(colors.fg.muted);

  ol > li {
    margin: 0;

    &::marker {
      margin-bottom: 0.5rem;
      font-weight: 700;
    }

    > p {
      margin: 0;
    }
  }
}

span[id="footnote-label"] {
  padding-bottom: 3px;
  border-bottom: 1px solid theme(colors.fg.muted / 40%);
  font-weight: 700;
}

@font-face {
  font-family: "LINE Seed JP";
  src: url("/fonts/line-seed-jp/LINESeedJP_OTF_Rg.woff2") format("woff2");
  font-weight: theme(fontWeight.normal);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed JP";
  src: url("/fonts/line-seed-jp/LINESeedJP_OTF_Bd.woff2") format("woff2");
  font-weight: theme(fontWeight.bold);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed JP";
  src: url("/fonts/line-seed-jp/LINESeedJP_OTF_Th.woff2") format("woff2");
  font-weight: theme(fontWeight.thin);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LINE Seed JP";
  src: url("/fonts/line-seed-jp/LINESeedJP_OTF_Eb.woff2") format("woff2");
  font-weight: theme(fontWeight.extrabold);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juisee";
  src: url("/fonts/juisee/JuiseeHW-Regular.woff2") format("woff2");
  font-weight: theme(fontWeight.normal);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juisee";
  src: url("/fonts/juisee/JuiseeHW-RegularItalic.woff2") format("woff2");
  font-weight: theme(fontWeight.normal);
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Juisee";
  src: url("/fonts/juisee/JuiseeHW-Bold.woff2") format("woff2");
  font-weight: theme(fontWeight.bold);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Juisee";
  src: url("/fonts/juisee/JuiseeHW-BoldItalic.woff2") format("woff2");
  font-weight: theme(fontWeight.bold);
  font-style: italic;
  font-display: swap;
}
