---
import { TagCard } from "@/components/Elements/PostCard/TagCard"
import { Tabs, type TabsProps } from "@/components/Elements/Tabs"
import { BaseLayout } from "@/layouts/BaseLayout"
import { getTags } from "@/lib/tags"

const tags = await getTags()

const tabProps: TabsProps = {
  tabs: [
    {
      value: "アーカイブ",
      icon: "tabler:archive",
      href: "/archives",
    },
    {
      value: "カテゴリ",
      icon: "tabler:category",
      href: "/categories",
    },
    {
      value: "タグ",
      icon: "tabler:tag",
      href: "/tags",
      isActive: true,
    },
  ],
}
---

<BaseLayout
  title="タグ"
  description="東京理科大学 電子計算機研究会 プログラミング班"
  og={{
    url: Astro.site!,
  }}
>
  <main class="flex flex-1 flex-col gap-6 py-12">
    <div>
      <Tabs {...tabProps} />
    </div>

    <div class="flex flex-wrap">
      {tags.map((tag) => <TagCard id={tag.id} />)}
    </div>
  </main>
</BaseLayout>
