---
import { Tabs, type TabsProps } from "@/components/Elements/Tabs"
import { BaseLayout } from "@/layouts/BaseLayout"
import { getTags } from "@/lib/tags"

const tags = await getTags()

const tabProps: TabsProps = {
  tabs: [
    {
      value: "アーカイブ",
      icon: "tabler:archive",
      href: "/archives",
    },
    {
      value: "カテゴリ",
      icon: "tabler:category",
      href: "/categories",
    },
    {
      value: "タグ",
      icon: "tabler:tag",
      href: "/tags",
      isActive: true,
    },
  ],
}
---

<BaseLayout
  title="タグ"
  description="東京理科大学 電子計算機研究会 プログラミング班"
  og={{
    url: Astro.site!,
  }}
>
  <main class="flex flex-1 flex-col gap-6 py-12">
    <div>
      <Tabs {...tabProps} />
    </div>

    <div class="flex flex-wrap">
      {
        tags.map((tag) => (
          <a
            href={`/tags/${tag.id}`}
            class="m-1 rounded-lg border bg-bg-default px-4 py-2 text-sm transition hover:bg-bg-muted"
          >
            <span class="text-muted-foreground pr-1 text-xs">#</span>
            <span>{tag.title}</span>
          </a>
        ))
      }
    </div>
  </main>
</BaseLayout>
