[data-theme="dark"] {
  [data-shiki],
  [data-shiki] span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

[data-shiki] {
  & code {
    @apply grid w-full;
  }

  & span.line {
    @apply border-l-2 border-l-transparent px-4;
  }

  /* 行番号表示 */
  & code[data-line-numbers] {
    & {
      counter-reset: line;
    }

    & > span[data-line]::before {
      content: counter(line);
      counter-increment: line;
      @apply mr-4 inline-block w-4 text-right text-fg-subtle;
    }
  }

  /* 行ハイライト */
  & span[data-highlighted-line] {
    @apply border-l-blue-a8 bg-blue-a2;
  }

  /* diffハイライト */
  & code[data-diff] {
    & > span > span:first-child {
      @apply ml-4;
    }

    & span[data-diff-added] {
      & {
        @apply bg-green-a3;
      }

      & > span:first-child {
        & {
          @apply ml-0;
        }

        &::before {
          content: "+";
          @apply mr-2 text-green-8;
        }
      }
    }

    & span[data-diff-removed] {
      & {
        @apply bg-red-a3;
      }

      & > span:first-child {
        & {
          @apply ml-0;
        }

        &::before {
          content: "-";
          @apply mr-2 text-red-8;
        }
      }
    }
  }
}
