---
import { Icon } from "@/components/Elements/Icon"
import { MainLayout } from "@/layouts/MainLayout"
---

<MainLayout title="RICORA Programming Team" description="東京理科大学 電子計算機研究会 プログラミング班">
  <main class="flex flex-1 flex-col gap-6 py-12">
    <!-- 仮のモックアップ -->
    {
      new Array(10).fill(null).map(() => (
        <div class="flex flex-row items-center gap-2 rounded-xl bg-card p-2 shadow-md dark:bg-zinc-900">
          <Icon name="fluent-emoji-flat:pencil" class="w-28 rounded-2xl p-6" />
          <div class="my-2 flex flex-col gap-2">
            <header>
              <a
                href="/activities"
                class="rounded-md bg-blue-400 px-4 py-1 font-bold text-white transition hover:bg-blue-300"
              >
                活動記録
              </a>
            </header>
            <a href="/posts/lt-20230602">
              <h2 class="text-2xl font-black">2023年6月2日の部内LT会まとめ</h2>
            </a>
            <footer class="flex flex-row flex-wrap gap-4 text-sm font-semibold text-gray-500">
              <div class="flex flex-row items-center gap-2">
                <Icon name="tabler:calendar-time" class="h-5 w-5" />
                <span>投稿: 2023年06月10日</span>
              </div>
              <div class="flex flex-row items-center gap-2">
                <Icon name="tabler:refresh" class="h-5 w-5" />
                <span>最終更新: 2023年06月10日</span>
              </div>
              <div class="flex flex-row items-center gap-2">
                <Icon name="tabler:clock" class="h-5 w-5" />
                <span>読了時間: 1分</span>
              </div>
            </footer>
          </div>
        </div>
      ))
    }
  </main>
</MainLayout>
